*{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8)
  }
  
  .calculator {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 350px;
  }
  
  .text-area {
    background-color: #2d283e;
    color: #fdd1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding: 20px;
    height: 100px;
  }
  
  .previous-operand {
    font-size: 1.2em;
    opacity: 0.6;
  }
  
  .current-operand {
    font-size: 2.5em;
    word-wrap: break-word;
  }
  
  .button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #977f9e;
    padding: 10px;
  }
  
  .button {
    background-color: #d1d7e0;
    border: none;
    border-radius: 15%;
    font-size: 1.5em;
    padding: 20px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #351c44;
    color: #d1d7e0;
    transform: scale(0.9);
  }
  
  .button.operator {
    background-color: #443e66;
    color: white;
  }
  
  .button.operator:hover {
    transform: scale(0.9);
    background-color: #7E60BF;
  }

  .equal {
    background-color: #2d283e;
    color: #d1d7e0;
  }

  .equal:hover {
    background-color: #7E60BF;
    color: #2d283e;
    transform: scale(0.91);
  }
  